{% extends "base.html" %}
{% block content %}
<div class="ref">
  <div class="back">
    <i class="bi bi-arrow-left fs-5"></i>
    <a href="/admin" class="text-black no-decorate fw-bold fs-5">Назад</a>
  </div>
</div>
<form action="#" method="post" class="edit-form col-sm-5"> 
  <div class="form__content">
    <label for="name" class="text-white fs-6">Название</label>
    <input class="form-control" type="text" name="name" placeholder="Название института" required />
  </div>
  <button class="create text-white" type="submit">Создать</button>
</form>
{% endblock %}