{% extends "base.html" %}
{% block content %}
            <div>                
                <a href="/admin_index">Назад</a>
            </div>
            <div>
                <a href="/admin_institute_create">Создать институт</a>
                <a href="/admin_institute_updates">Изменить институт</a>
            </div>
            <div>
                <table>
                <tr>
                    <th>Институты</th>
                </tr>
                {% for institute in institutes %}
                <tr>
                    <td>{{ institute.name }}</td>
                    <td><a href="/admin_institute_update/{{institute.id}}">Изменить институт</a></td>
                </tr>
                {% endfor %}

            </table>
            </div>
{% endblock %} 