{% extends "base.html" %} {% block content %}
<div class="edit-page">
  <div class="ref">
    <div class="back">
      <i class="bi bi-arrow-left fs-5"></i>
      <a href="/admin" class="text-black no-decorate fw-bold fs-5">Назад</a>
    </div>
  </div>
  <form action="" method="post" class="edit-form col-sm-5" style="margin-bottom: 10px;">
    <div class="form__content">
      <label for="name" class="text-white fs-6">Название</label>
      <input class="form-control" type="text" name="name" placeholder="Название института" value="{{ institute.name }}"
        required />
    </div>
    <button type="submit" class="create text-white">Изменить</button>
  </form>

  <div class="student-practice">
    <h3 class="text-center fs-3 fw-bold text-white border-down">Направления входящие в институт</h3>
    <div class="row row-cols-2 border-down">
      <div class="col-6 border-right">
        <p class="text-center fs-6 fw-bold text-white">Название</p>
      </div>
      <div class="col-6">
        <p class="text-center fs-6 fw-bold text-white">Код направления</p>
      </div>
    </div>
    {% for specialization in current_specializations %}
    <div class="row row-cols-2 border-down">
      <div class="col-6 border-right text-white">
        <div class="buttons">{{specialization.name}}</div>
      </div>
      <div class="col-6 text-white">
        <div class="buttons">{{specialization.specialization_code}}</div>
      </div>
    </div>
    {% endfor %}
  </div> 
</div>
{% endblock %}