{% extends "base.html" %} {% block content %}
<div>
  <a href="/admin_institute_index"><button type="button">Return</button></a>
</div>
<form action="/" method="post">
  <div>
    <input type="text" name="name" placeholder="Иван" required />
    <label for="name">Имя</label>
  </div>
  <a href="/admin_institute_update"><button type="button">Confirm</button></a>
</form>
<div>
  <a href="/opop_add"><button type="button">Create specialization</button></a>
</div>
<div>List of specializations</div>
{% endblock %}
