{% extends "base.html" %} {% block content %}
<div class="admin-back">
  <a href="/admin_institute_index">Назад</a>
</div>
<form action="#" method="post">
  <div>
    <label for="name">Название</label>
    <input type="text" name="name" placeholder="Иван" value="{{ old_institute.name }}" required />
  </div>
  <a href="/admin_institute_update">Создать</a>
</form>

<div>
  <a href="/admin_specialization_create/{{old_institute.id}}">Создать направление</a>
</div>

<h2 class="specialization-table__name">Направления</h2>
<table class="specialization-table">
  <thead class="specialization-table__head">
    <tr class="specialization-table__names">
      <th class="specialization-table__content">Название</th>
      <th class="specialization-table__content">Код направления</th>
    </tr>
  </thead>
  <tbody class="specialization-table__body">
    <tr class="specialization-table__data">
      <td class="specialization-table__content">{{specialization.name}}</td>
      <td class="specialization-table__content">{{specialization.specialization_code}}</td>
      <td class="specialization-table__content"><a href="admin_specialization_update/{{institute.id}}">Обновить</a></td>
    </tr>
  </tbody>
</table>
{% endblock %}
