* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

main {
  background-color: #d7d7d7;
  width: 100%;
  min-height: 100vh;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(211, 205, 246, 1);
  background-image: url(/static/css/background.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: local;
}

main input[type=checkbox] {
  appearance: none;
  display: inline-block;
  width: 20px;
  height: 20px;
  outline: none;
  background-color: #6a6a6a;
  border: 5px dotted black;
  padding: 5px;
}
main input[type=checkbox]:checked {
  background-color: black;
  border: 5px solid black;
  padding: 5px;
}

input[type=checkbox]:after {
  content: "";
  position: absolute;
  display: none;
}
.container input[type=checkbox]:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  color: white
}

main .btn {
  background-color: #d7d7d7;
  padding: 10px 20px;
  font-size: 20px;
  border-radius: 5px;
  border: 0;
  color: black;
  text-decoration: none;
}
main .btn:hover {
  background-color: black;
  color: white
}
main .btn:active {
  background-color: #d7d7d7;
}
main select {
  outline: none;
  background-color: white;
  padding: 10px 20px;
  border: 5px solid #6a6a6a;
}
main select:hover {
  border-color: black;
}

form {
  background-color: rgba(0, 13, 125, 0.8);
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 25px;
  padding-bottom: 35px;
  border-radius: 15px;
}

form input {
  background-color: rgba(204, 204, 204, 0.85) !important;
  height: 40px;
  border-radius: 20px !important;
  margin-top: 7px;
  border: none !important;
}

form input:focus {
  background-color: white !important;
}

.form__content {
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

form div {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-bottom: 10px;
}

.center {
  text-align: center;
  padding: 10px;
  margin-bottom: 7px;
}

.create {
  background-color: #00b4dbe6;
  border-radius: 20px;
  width: 150px;
  height: 35px;
  margin-top: 7px ;
  border: none !important;
}

.student-practice {
  background-color: rgba(24, 64, 168, 0.8);
  padding: 12px;
  max-width: 900px;
  margin-inline: auto;
}

.border-right {
  border-right: 2px solid white;
  margin: 0 !important;
  padding: 0 !important;
}

.border-down {
  border-bottom: 2px solid white;
  margin: 0 !important; 
}

.student-practice h3 {
  width: 100%;
  padding-bottom: 15px;
}

.update {
  text-decoration: none;
  display: flex;
  justify-content: center;
  background-color: #00b4dbe6;
  border-radius: 20px;
  width: 100px;
  height: 25px;
  margin-top: 5px;
  margin-bottom: 5px;
  border: none !important;
}

.buttons {
  display: flex;
  justify-content: center;
}

.download {
  text-decoration: none;
  display: flex;
  justify-content: center;
  background-color: #00b4dbe6;
  border-radius: 20px;
  width: 150px;
  height: 25px;
  margin-top: 5px;
  margin-bottom: 5px;
  border: none !important;
}

.editing {
  background-color: #00b4dbe6;
  border-radius: 20px;
  width: 210px;
  height: 35px;
  margin-top: 7px ;
  border: none !important;
}

.edit-form {
  margin-inline: auto;
}

form select {
  background-color: rgba(204, 204, 204, 0.85) !important;
  height: 40px;
  border-radius: 20px !important;
  margin-top: 7px;
  border: none !important;  
}

form select:focus {
  background-color: white !important;
}

form select option {  
  background-color: rgba(204, 204, 204, 0.85) !important;
  border-radius: 20px !important;
}

/*# sourceMappingURL=main.css.map */
