<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <header>
            <h3 style="text-align: center;">supervisorPracticeOrg</h3> 
            <a href="/home"><button type="button">На главную</button></a>    
            <hr>
        </header>

        <h4>Создание</h4>
    <form action="#">
        <div class="form-view">
        <select name="floatingView" class="form-view">
            <option value="">Вид практики</option>
            <option value="1">хызы</option>
            <option value="2">хызы</option>
        </select>
    </div>
        <div class="form-type">
        <select name="floatingType" class="form-type">
            <option value="">Тип практики</option>
            <option value="1">хызы</option>
            <option value="2">хызы</option>
        </select>
    </div>
    <div class="form-addres">
        <input type="text" class="form-addres" name="floatingAddres" placeholder="Чехова,16,ЮГУ">
        <label for="floatingAddres">Адрес</label>
    </div>
    <div class="form-teacher">
        <input type="text" class="form-teacher" name="floatingTeacher" placeholder="доц., Змеев Д.О.">
        <label for="floatingteacher">Преподаватель</label>
    </div>
    <div class="form-yers">
        <input type="text" class="form-yers" name="floatingYers" placeholder="2024">
        <label for="floatingYers">Год</label>
    </div> 
    <div class="form-day">
        <input type="text" class="form-day" name="floatingDay" placeholder="2024/22/04-2024/04/05">
        <label for="floatingDay">Дата практики</label>
    </div> 
    <div class="form-named">
        <input type="text" class="form-named" name="floatingNamed" placeholder="практика">
        <label for="floatingNamed">Название практики</label>
    </div>
    <div class="form-numder">
        <input type="text" class="form-numder" name="floatingNumber" placeholder="12345">
        <label for="floatingNumber">Номер приказа</label>
    </div> 
    <div class="form-date">
        <input type="date" class="form-date" name="floatingDate" >
        <label for="floatingDate">Дата приказа</label>
    </div> 
</form>
<a href="/supervisorPracticeOrg_index"><button type="button">Вернуться</button></a> 


        <script src="" async defer></script>
    </body>
</html>