<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body>
        {% if current_user.is_authenticated %}
        <header>
            <div style="display: flex; justify-content: space-between;">
            <h2 style="text-align: center;">supervisorPracticeOrg</h2>
            <div style="display: flex;  flex-direction: row-reverse;"> 
            <a href="/home"><button type="button">На главную</button></a>  
            <a href="/logout"><button type="button">Выйти</button></a>
        </div>
        </div>
            <hr>
        </header>

        <h4>Пользователи</h4>

        <form>
            <label for="parent">Школа</label>
            <select id="parent">
              <option value="1">ВПШ</option>
              <option value="2">ИШЦТ</option>
              <option value="3">ВШП</option>
            </select>
          
            <label for="child">Группа</label>
            <select id="child" disabled>
              <option value="" selected>Группа</option>
            </select>
          
            <label for="grandchild">Студент</label>
            <select id="grandchild" disabled>
              <option value="" selected>Студент</option>
            </select>
          </form>
          <a href="/supervisorPracticeOrg_add"><button type="button">Go to supervisorPracticeOrg</button></a>
          {% else %}
          <h1>You are not logged in</h1>
          <a href="/"><button type="button">Return</button></a> 
          {% endif %}

        <script src="js/script.js" async defer></script>
    </body>
</html>