Babel==2.11.0
blinker
cffi
click
docxcompose
docxtpl
Flask==3.0.3
Flask-Login==0.6.3
Flask-SQLAlchemy==3.1.1
hpy
itsdangerous
Jinja2
lxml
MarkupSafe
numpy
pandas
python-dateutil
python-docx
pytz
six
SQLAlchemy==2.0.29
typing_extensions
tzdata
Werkzeug==3.0.2
psycopg2-binary
pymorphy2
