{% extends "base.html" %} {% block content %}
<div class="admin-back">
  <a href="/opop">Назад</a>
</div>

<div>
  <a href="opop/practice/create">Создать</a>
</div>

<div class="practices">

  <div class="practices-head list-head">
    <h2 class="practice-table__name">Практики</h2>
    <div class="practices-head-tools tools">
      <a href="/opop/practice/create" class="practices-head-tools__a add">
        Add
      </a>
      <button class="practices-head-tools__button toggle">&#x2B9F;</button>
    </div>
  </div>

  <ul class="practices-list">
    {% for practice in practices %}
    <li id="practice_{{ practice.id }}">
      <a href="/opop_practice_update/{{practice.id}}">{{practice.name}}</a>
      <span class="users-list-item-tools">
        <button id="{{ practice.id }}" class="practice-list-tools__button delete">
          Delete
        </button>
      </span>
    </li>
    {% endfor %}
  </ul>
</div>

<div class="groups">
  <div class="groups-head list-head">
    <h2 class="group-table__name">Группы</h2>
  </div>
  <div class="practices-list">
  <ul>
    {% for group in groups %}
    <li id="group_{{ group.id }}">
      <a href="opop/group/update/{{group.id}}" class="group-table__content">{{group.name}}</a>
      <span class="group-table__content">{{group.course}}</span>

      <span class="users-list-item-tools">
        <button class="group-list-tools__button delete" id="{{ group.id }}">Delete</button>
      </span>
    </li>
    {% endfor %}
    </ul>
  </div>
</div>
{% endblock %}
{% block script %}
  <script src="{{ url_for('static', filename='js/opop.index.js') }}"></script>
{% endblock %}