{% extends "base.html" %} 
{% block content %}
<div class="admin-back">
  <a href="/opop">Назад</a>
</div>

<div>
  <a href="opop/practice/create">Создать</a>
</div>

<div class="practices">

  <div class="practices-head list-head">
    <h2 class="practice-table__name">Практики</h2>
    <div class="practices-head-tools tools">
      <a href="/opop/practice/create" class="practices-head-tools__a add">
        Add
      </a>
      <button class="practices-head-tools__button toggle">&#x2B9F;</button>
    </div>
  </div>

  <ul class="practices-list">
    {% for practice in practices %}
    <li id="practice_{{ practice.id }}">
      <a href="/opop/practice/update/{{practice.id}}">{{practice.name}}</a>
      <span class="users-list-item-tools">
        <button id="{{ practice.id }}" class="practice-list-tools__button delete">
          Delete
        </button>
      </span>
    </li>
    {% endfor %}
  </ul>
</div>

<div class="groups">
  <div class="groups-head list-head">
    <h2 class="group-table__name">Группы</h2>
    <div class="groups-head-tools tools">
      <a href="/opop/group/create" class="groups-head-tools__a add">
        Add
      </a>
      <button class="group-head-tools__button toggle">&#x2B9F;</button>
  </div>
  <div class="groups-list">
  <ul>
    {% for group in groups %}
    <li id="group_{{ group.id }}">
      <a href="/opop/group/update/{{group.id}}" class="group-table__content">{{group.name}}</a>
      <span class="group-table__content">{{group.course}}</span>

      <span class="users-list-item-tools">
        <button class="group-list-tools__button delete" id="{{ group.id }}">Delete</button>
        <button class="group-list-tools__button toggle" >&#x2B9F;</button>
      </span>
    </li>
    <ul class="group-students-list">
      {% for students_data in students %}
      {% if students_data[0] == group.id %}
      {% for student in students_data[1] %}
      <li id="student_{{student.id}}">
        <a href="/opop/group/{{ group.id }}/update/{{ student.id }}">{{ student.lastname }} {{ student.firstname }} {{ student.surname }}</a>
        <span class="student-list-tools">
          <button class="student-list-tools__button delete" data-group-id="{{group.id}}" id="{{ student.id }}">Delete</button>
        </span>
      </li>
      {% endfor %}
      {% endif %}
      {% endfor %}
    </ul>
    {% endfor %}
    </ul>
  </div>
</div>
{% endblock %}
{% block script %}
  <script src="{{ url_for('static', filename='js/opop.index.js') }}"></script>
{% endblock %}