{% extends "base.html" %} {% block content %}

<div class="edit-page">
  <div class="ref">
    <div class="back">
      <i class="bi bi-arrow-left fs-5"></i>
      <a href="/opop" class="text-black no-decorate fw-bold fs-5">Назад</a>
    </div>
  </div>

  <form action="#" method="post" class="edit-form col-sm-6">
    <h1 class="center fw-bold fs-4 text-white">Создание практики</h1>
    <div class="form__content">
      <label class="text-white fs-6" for="name">Имя</label>
      <input class="form-control" type="text" name="name" required />
    </div>
    <div class="form__content">
      <label class="text-white fs-6" for="start_date">Дата начала практики</label>
      <input class="form-control" type="date" name="start_date" required />
    </div>
    <div class="form__content">
      <label class="text-white fs-6" for="end_date">Дата конца практики</label>
      <input class="form-control" type="date" name="end_date" required />
    </div>
    <div class="form__content">
      <label class="text-white fs-6" for="type_of_practice">Тип практики</label>
      <select name="type_of_practice">
        <option value="ознакомительная">Ознакомительная</option>
        <option value="научно-исследовательская">Научно-исследовательская</option>
        <option value="производственная">Производственная</option>
        <option value="технологическая">Технологическая</option>
        <option value="преддипломная">Преддипломная</option>
      </select>
    </div>
    <div class="form__content">      
      <label class="text-white fs-6" for="kind_of_practice">Вид практики</label>
      <select name="kind_of_practice" required>
        <option value="учебная">Учебная</option>
        <option value="производственная">Производственная</option>
      </select>
    </div>
    <div class="form__content">
      <label class="text-white fs-6" for="director_practice_usu">Руководитель практики от ЮГУ</label>
      <select name="director_practice_usu" required>
        {% for director_practice_usu in directors_practice_usu %}
        <option value="{{director_practice_usu.id}}">
          {{director_practice_usu.lastname}}
          {{director_practice_usu.firstname}}
          {{director_practice_usu.surname}}
        </option>
        {% endfor %}
      </select>
    </div>
    <div class="form__content">      
      <label class="text-white fs-6" for="director_practice_company">Руководитель практики от Организации</label>
      <select name="director_practice_company" required>
        {% for director_practice_company in directors_practice_company %}
        <option value="{{director_practice_company.id}}">
          {{director_practice_company.lastname}}
          {{director_practice_company.firstname}}
          {{director_practice_company.surname}}
        </option>
        {% endfor %}
      </select>
    </div>
    {% for group in groups %}
    <div class="form__content">
      <label class="text-white fs-6" for="{{group.id}}" style="margin-right: 10px;">{{group.name}}</label>
      <input type="checkbox" class="group-checkbox" name="{{group.id}}">
    </div>
    {% endfor %}
    <div class="form__content">
      <label class="text-white fs-6" for="order">Номер приказа и его дата</label>
      <input class="form-control" type="text" name="order" placeholder="12-222 от 21.10.2023" required />
    </div>
    <div class="form__content">
      <label class="text-white fs-6" for="recomendations">Рекомендации(не обязательно)</label>
      <input class="form-control" type="text" name="recomendations" />
    </div>
    <button class="create text-white" id="practice-create" type="button">Создать</button>
  </form>
</div>
{% endblock %}
{% block script %}
<script src="{{ url_for('static', filename='js/opop.practice-create.js') }}"></script>
{% endblock %}