{% extends "base.html" %} {% block content %}
<form action="#" method="post">
  <div>
    <label for="name">Имя</label>
    <input type="text" name="name" required />
  </div>
  <div>
    <label for="start_date">Дата начала практики</label>
    <input type="date" name="start_date" required />
  </div>
  <div>
    <label for="end_date">Дата конца практики</label>
    <input type="date" name="end_date" required />
  </div>
  <div>
    <label for="type_of_practice">Тип практики</label>
    <select name="type_of_practice">
      <option value="ознакомительная">Ознакомительная</option>
      <option value="научно-исследовательская">Научно-исследовательская</option>
      <option value="производственная">Производственная</option>
      <option value="технологическая">Технологическая</option>
      <option value="преддипломная">Преддипломная</option>
    </select>
  </div>
  <div>
    <select name="kind_of_practice" required >
      <option value="учебная">Учебная</option>
      <option value="производственная">Производственная</option>
    </select>
    <label for="kind_of_practice">Вид практики</label>
  </div>
  <div>
    <select name="director_practice_usu" required >
      {% for director_practice_usu in directors_practice_usu %}
      <option value="{{director_practice_usu.id}}">{{director_practice_usu.id}}</option>
      {% endfor %}
    </select>
    <label for="director_practice_usu">Руководитель практики от ЮГУ</label>
  </div>
  <div>
    <select name="director_practice_company" required >
      {% for director_practice_company in directors_practice_company %}
      <option value="{{director_practice_company.id}}">{{director_practice_company.id}}</option>
      {% endfor %}
    </select>
    <label for="director_practice_company">Руководитель практики от Организации</label>
  </div>
  {% for group in groups %}
  <div>
    <label for="{{group.id}}">{{group.name}}</label>
    <input type="checkbox" class="group-checkbox" name="{{group.id}}">
  </div>
  {% endfor %}
  <div>
    <label for="order">Номер приказа и его дата</label>
    <input type="text" name="order" placeholder="12-222 от 21.10.2023" required />
  </div>
  <div>
    <label for="recomendations">Рекомендации(не обязательно)</label>
    <input type="text" name="recomendations" />
  </div>
  <button class="btn" id="practice-create" type="button">Создать</button>
</form>
{% endblock %}
{% block script %}
  <script src="{{ url_for('static', filename='js/opop.practice-create.js') }}"></script>
{% endblock %}
