{% extends "base.html" %} {% block content %}
<form action="#" method="post">
  <div>
    <input type="text" name="name" required />
    <label for="name">Имя</label>
  </div>
  <div>
    <input type="text" name="start_date" required />
    <label for="start_date">Имя</label>
  </div>
  <div>
    <input type="text" name="end_date" required />
    <label for="end_date">Имя</label>
  </div>
  <div>
    <input type="text" name="type_of_practice" required />
    <label for="type_of_practice">Имя</label>
  </div>
  <div>
    <input type="text" name="kind_of_practice" required />
    <label for="kind_of_practice">Имя</label>
  </div>
  <div>
    <input type="text" name="order" required />
    <label for="order">Имя</label>
  </div>
  <div>
    <input type="text" name="recomendations" required />
    <label for="recomendations">Имя</label>
  </div>
  <a><button type="submit">Confirm</button></a>
</form>
{% endblock %}
