{% extends "base.html" %} {% block content %} 
<form  class="start-pactice" action="#" method="post">
  <div>Начать практику</div>
  <input type="hidden" name="practice_id" value="{{ pactice_id }}" />
  <div>
    <input type="checkbox" name="paid" />
  </div>
  <div>
    <select name="kind_of_contract">
      <option value="not" selected>-</option>
      <option value="short">Краткосрочный</option>
      <option value="long">Долгосрочный</option>
    </select>
  </div>
  <div>
    <select name="director_of_practice_organization" id="pr_org">
      {% for director in directors %}
      <option value="{{ director.id }}">
        {{ director.id }}
      </option>
      {% endfor %}
    </select>
  </div>
  <button type="submit">Отправить</button>
</form>
{% endblock %}
