{% extends "base.html" %} {% block content %}
<a href="/opop_practice_start/{{ practice_id }}" class="btn">Start</a>
<form action="#" method="post">
  <div>
    <input type="text" name="name" required />
    <label for="name">Имя</label>
  </div>
  <div>
    <input type="date" name="start_date" required />
    <label for="start_date">Дата начала практики</label>
  </div>
  <div>
    <input type="date" name="end_date" required />
    <label for="end_date">Дата конца практики</label>
  </div>
  <div>
    <select name="type_of_practice">
      <option value="ознакомительная">Ознакомительная</option>
      <option value="научно-исследовательская">Научно-исследовательская</option>
      <option value="производственная">Производственная</option>
      <option value="технологическая">Технологическая</option>
      <option value="преддипломная">Преддипломная</option>
    </select>
    <label for="type_of_practice">Тип практики</label>
  </div>
  <div>
    <select name="kind_of_practice" required >
      <option value="учебная">Учебная</option>
      <option value="производственная">Производственная</option>
    </select>
    <label for="kind_of_practice">Вид практики</label>
  </div>
  <div>
    <input type="text" name="order" required />
    <label for="order">Номер приказа и его дата</label>
  </div>
  <div>
    <input type="text" name="recomendations" />
    <label for="recomendations">Рекомендации(не обязательно)</label>
  </div>
  <button class="btn" type="submit">Обновить</button>
</form>
{% endblock %}
