{% extends "base.html" %} {% block content %}
<div>
  <a href="/opop">Назад</a>
</div>
<form action="#" method="post">
  <div>Создать студента</div>
  <div>
    <label for="firstname">Имя</label>
    <input type="text" name="firstname">
  </div>
  <div>
    <label for="lastname">Фамилия</label>
    <input type="text" name="lastname">
  </div>
  <div>
    <label for="surname">Отчество</label>
    <input type="text" name="surname">
  </div>
  <button type="submit">Создать</button>
</form>
{% endblock %}