{% extends "base.html" %} {% block content %}
<div class="ref">
  <div class="back">
    <i class="bi bi-arrow-left fs-5"></i>
    <a class="text-black no-decorate fw-bold fs-5" href="/opop">Назад</a>
  </div>
</div>

<form action="#", method="post" class="edit-form col-sm-4">
  <h1 class="center fw-bold fs-4 text-white">Редактирование студента</h1>
  <div class="form__content">
    <label class="text-white fs-6" for="firstname">Имя</label>
    <input class="form-control" type="text" value="{{ student_user.firstname }}" name="firstname">
  </div>
  <div class="form__content">
    <label class="text-white fs-6" for="lastname">Фамилия</label>
    <input class="form-control" type="text" value="{{ student_user.lastname }}" name="lastname">
  </div>
  <div class="form__content">
    <label class="text-white fs-6" for="surname">Отчество</label>
    <input class="form-control" type="text" value="{{ student_user.surname }}" name="surname">
  </div>
  <div class="form__content">
    <label class="text-white fs-6" for="group_id">Группа</label>
    <select name="group_id">
      {% for group in groups %}
        <option 
          {% if student.group_id %}
            selected
          {% endif %}
          value="{{ group.id }}">
          {{ group.name }}
        </option>
      {% endfor %}
    </select>
  </div>
  <button class="create text-white" type="submit">Изменить</button>
</form>
{% endblock %}

