<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>hub</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        {% if current_user.is_authenticated %}
        <header>
            <div style="display: flex; justify-content: space-between;">
            <h2 style="text-align: center;">Home</h2>
            <div style="display: flex;  flex-direction: row-reverse;"> 
            <a href="/logout"><button type="button">Выйти</button></a>
            {% for role in roles%}
            {%if role == "opop"%}
            <a href="/opop_index"><button type="button">Go to opop</button></a>
            {% elif role == "admin" %}
            <a href="/admin_index"><button type="button">Go to admin</button></a>
            {% elif role == "supervisorUgrasu" %}
            <a href="/supervisorUgrasu_index"><button type="button">Go to supervisorUgrasu</button></a>
            {% elif role == "supervisorCompany" %}
            <a href="/supervisorCompany_index"><button type="button">Go to supervisorCompany</button></a>
            {% elif role == "supervisorPracticeOrg" %}
            <a href="/supervisorPracticeOrg_index"><button type="button">Go to supervisorPracticeOrg</button></a>
            {% endif %}
            {% endfor %}
        </header>
            <div>
                <a href="/admin_user_index"><button type="button">Return</button></a>
            </div>
        <form action="#"  method="post">
            <div class="form-name">
                <input type="text" class="form-name" name="firstname" placeholder="Иван" value="{{ old_user.firstname }}" required>
                <label for="firstname">Имя</label>
              </div>
              <div class="form-surname">
                <input type="text" class="form-surname" name="lastname" placeholder="Иванович" value="{{ old_user.lastname }}" required>
                <label for="lastname">Фамилия</label>
              </div>
              <div class="form-patronymic">
                <input type="text" class="form-patronymic" name="surname" placeholder="Иванов" value="{{ old_user.surname }}" required>
                <label for="surname">Отчество</label>
              </div>
              <div class="form-login">
                <input type="text" class="form-login" name="login" placeholder="ИИИ" value="{{ old_user.login }}" required>
                <label for="login">Логин</label>
              </div>
              <div class="form-role">
                <input type="text" class="form-role" name="role" placeholder="Админ" value="{{ old_user.role }}" required>
                <label for="role">Роль</label>
              </div>
              <div class="form-pass">
                <input type="text" class="form-pass" name="password" placeholder="Пароль" value="{{ old_user.password }}" required>
                <label for="password">Пароль</label>
              </div>
              <button formaction="" type="submit">Изменить пользователя</button>
        </form>
        {% else %}
        <h1>You are not logged in</h1>
        <a href="/"><button type="button">Return</button></a> 
        {% endif %}
        <script src="" async defer></script>
    </body>
</html>