{% extends "base.html" %} {% block content %}
<div class="admin-back">
  <a href="/admin_user_index">Назад</a>
</div>
<form action="#" method="post">
  <div class="form-name">
    <label for="firstname">Имя</label>
    <input type="text" class="form-name" name="firstname" placeholder="Иван" value="{{ old_user.firstname }}" required />
  </div>
  <div class="form-surname">
    <label for="lastname">Фамилия</label>
    <input type="text" class="form-surname" name="lastname" placeholder="Иванович" value="{{ old_user.lastname }}" required />
  </div>
  <div class="form-patronymic">
    <label for="surname">Отчество</label>
    <input type="text" class="form-patronymic" name="surname" placeholder="Иванов" value="{{ old_user.surname }}" required />
  </div>
  <div class="form-login">
    <label for="login">Логин</label>
    <input type="text" class="form-login" name="login" placeholder="ИИИ" value="{{ old_user.login }}" required />
  </div>
  <div class="form-role">
    <label for="role">Роль</label>
    <input type="text" class="form-role" name="role" placeholder="Админ" value="{{ old_user.role }}" required />
  </div>
  <div class="form-pass">
    <label for="password">Пароль</label>
    <input type="text" class="form-pass" name="password" placeholder="Пароль" value="{{ old_user.password }}" required />
  </div>
  <button formaction="" type="submit">Изменить пользователя</button>
</form>
{% endblock %}