{% extends "base.html" %} {% block content %}
<div class="admin-back">
  <a href="/opop_group_index">Назад</a>
</div>
<form action="#" method="post">
  <div>
    <label for="name">Название</label>
    <input type="text" name="name" required />
  </div>
  <select name="specialization_id" id="">
    {% for spezialization in spezializations %}
        <option value="{{ spezialization.id }}">{{spezialization.name}}</option>
    {% endfor %}
  </select>
  <div>
    <label for="course">Курс</label>
    <input type="text" name="course" required />
  </div>
  <select name="form" id="">
    <option value="очная">очная</option>
    <option value="очно-заочная">очно-заочная</option>
    <option value="заочная">заочная</option>
  </select>
  <button type="submit">Создать</button>
</form>
{% endblock %}
