{% extends "base.html" %} {% block content %}
<div class="admin-back">
  <a href="/opop_group_index">Назад</a>
</div>
<div>
  <a href="/opop_group_create">Создать группу</a> 
</div>
<h2 class="group-table__name">Группы</h2>
<table class="group-table">
  <thead class="group-table__head">
    <tr class="group-table__names">
      <th class="group-table__content">Номер группы</th>
      <th class="group-table__content">Курс</th>
    </tr>
  </thead>
  <tbody class="group-table__body">
    {% for group in groups %}
    <tr class="group-table__data">
      <td>{{group.name}}</td>
      <td>{{group.course}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
