{% extends "base.html" %} {% block content %}
<div class="admin-back">
  <a href="/opop">Назад</a>
</div>
<form action="#" method="post">
  <div>
    <label for="name">Название</label>
    <input type="text" name="name" required />
  </div>
  <select name="specialization_id" id="">
    {% for spezialization in spezializations %}
        <option value="{{ spezialization.id }}">{{spezialization.name}}</option>
    {% endfor %}
  </select>
  <div>
    <label for="course">Курс</label>
    <input type="number" name="course" required />
  </div>
  <select name="form" id="">
    <option value="очная">очная</option>
    <option value="очно-заочная">очно-заочная</option>
    <option value="заочная">заочная</option>
  </select>
  <button id="group_update" type="button">Создать</button>
</form>
<div>
  <a href="/opop/group/update/{{group.id}}/create">Создать студента</a>
</div>

<h2 class="student-table__name">Студенты</h2>
<table id="student-table">
  <thead class="student-table__head">
    <tr class="student-table__names">
      <th class="student-table__content">id</th>
    </tr>
  </thead>
  <tbody class="student-table__body">
    {% for student_user in student_users %}
    <tr class="student-table__data">
      <td class="student-table__content">{{ student_user.id }}</td>
      <td class="student-table__content">
        <a href="/opop_student_update/{{student_user.id}}">Изменить пользователя</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}