{% extends "base.html" %} {% block content %}
<div class="admin-back">
  <a href="/opop">Назад</a>
</div>
<form>
  <div>
    <label for="name">Название</label>
    <input type="text" name="name" required />
  </div>
  <div>
    <label for="specialization_id">Имя</label>
    <input type="text" name="specialization_id" required />
  </div>
  <div>
    <label for="course">Курс</label>
    <input type="text" name="course" required />
  </div>
  <button type="submit">Обновить</button>
</form>
<div>
  <a href="/opop_student_create/{{group.id}}">Создать студента</a>
</div>

<h2 class="student-table__name">Студенты</h2>
<table id="student-table">
  <thead class="student-table__head">
    <tr class="student-table__names">
      <th class="student-table__content">id</th>
    </tr>
  </thead>
  <tbody class="student-table__body">
    {% for student_user in student_users %}
    <tr class="student-table__data">
      <td class="student-table__content">{{ student_user.id }}</td>
      <td class="student-table__content">
        <a href="/opop_student_update/{{student_user.id}}">Изменить пользователя</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}