{% extends "base.html" %} {% block content %}
<div>
  <a href="/opop_group_index">Назад</a>
</div>
<form>
  <div>
    <input type="text" name="name" required />
    <label for="name">Имя</label>
  </div>
  <div>
    <input type="text" name="specialization_id" required />
    <label for="specialization_id">Имя</label>
  </div>
  <div>
    <input type="text" name="course" required />
    <label for="course">Имя</label>
  </div>
</form>
<div>
  <a href="/opop_student_create"
    >Создать студента</a
  >
</div>
<div>Студенты</div>

<table>
  <tr>
    <th>Имя</th>
    <th>Фамилия</th>
    <th>Отчество</th>
    <th>Роль</th>
    <th>Логин</th>
    <th>Пароль</th>
  </tr>
  {% for user in users %}
  <tr>
    <td>{{ user.firstname }}</td>
    <td>{{ user.lastname }}</td>
    <td>{{ user.surname }}</td>
    <td>{{ user.role }}</td>
    <td>{{ user.login }}</td>
    <td>{{ user.password }}</td>
    <td>
      <a href="/admin_user_update/{{user.login}}"
        >Изменить пользователя</a
      >
    </td>
  </tr>
  {% endfor %}
</table>


{% endblock %}
