{% extends "base.html" %} {% block content %}
<div class="admnin-back">
  <a href="/admin_index">Назад</a>
</div>
<div class="admin-create">
  <a href="/admin_user_create">Создать пользователя</a>
</div>
<table id="student-table">
  <thead class="student-table__head">
    <tr class="student-table__names">
      <th class="student-table__content">Имя</th>
      <th class="student-table__content">Фамилия</th>
      <th class="student-table__content">Отчество</th>
      <th class="student-table__content">Роль</th>
      <th class="student-table__content">Логин</th>
      <th class="student-table__content">Пароль</th>
    </tr>
  </thead>
  <tbody class="student-table__body">
    {% for user in users %}
    <tr class="student-table__data">
      <td class="student-table__content">{{ user.firstname }}</td>
      <td class="student-table__content">{{ user.lastname }}</td>
      <td class="student-table__content">{{ user.surname }}</td>
      <td class="student-table__content">{{ user.role }}</td>
      <td class="student-table__content">{{ user.login }}</td>
      <td class="student-table__content">{{ user.password }}</td>
      <td class="student-table__content">
        <a href="/admin_user_update/{{user.login}}">Изменить пользователя</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}