{% extends "base.html" %} {% block content %}
<div class="edit-page">
  <div class="ref">
    <div class="back">
      <i class="bi bi-arrow-left fs-5"></i>
      <a href="/admin" class="text-black no-decorate fw-bold fs-5">Назад</a>
    </div>
  </div>

  <form action="" method="post" id="change" class="edit-form col-sm-5">
    <input type="hidden" name="user_id" value="{{ old_user.id }}">
    <div class="form-name form__content">
      <label for="firstname" class="text-white fs-6">Ф. И. О.</label>
      <input type="text" class="form-name form-control" name="fio" placeholder="Иван"
        value="{{ old_user.lastname }} {{ old_user.firstname }} {{ old_user.surname }}" required />
    </div>

    <div class="form-login form__content">
      <label for="login" class="text-white fs-6">Логин</label>
      <input type="text" class="form-login form-control" name="login" placeholder="ИИИ" value="{{ old_user.login }}" required />
    </div>

    <div class="form-role form__content">
      <div class="form-role-director-opop">
        <label for="director" class="text-white fs-6" style="margin-right: 10px;">Руководитель ОПОП</label>
        <input class="form-role__input " type="checkbox" name="director-opop" id="director">
      </div>
      <div class="form-role-director-organization">
        <label for="director" class="text-white fs-6" style="margin-right: 10px;">Руководитель организации</label>
        <input class="form-role__input" type="checkbox" name="director-organization" id="director">
      </div>
      <div class="form-role-director-company">
        <label for="director" class="text-white fs-6" style="margin-right: 10px;">Руководитель предприятия</label>
        <input class="form-role__input" type="checkbox" name="director-company" id="director">
      </div>
      <div class="form-role-admin">
        <label for="admin" class="text-white fs-6" style="margin-right: 10px;">Администратор</label>
        <input class="form-role__input" type="checkbox" name="admin" id="admin">
      </div>
    </div>
    <div class="form-post form__content">
      <label for="post" class="text-white fs-6">Должность</label>
      <input class="form-post__input form-control" type="text" value="{{ old_user.post }}" name="post" id="post">
    </div>
    <div class="form-pass form__content">
      <label for="password" class="text-white fs-6">Пароль</label>
      <input type="text" class="form-pass form-control" name="password" placeholder="Пароль" value="{{ old_user.password }}"
        required />
    </div>
    <button id="user-change" class="create text-white" type="button">Изменить</button>
  </form>
</div>

{% endblock %}

{% block script %}
<script src="{{ url_for('static', filename='js/admin.user-update.js') }}"></script>
{% endblock %}