{% extends "base.html" %} {% block content %}
<div>
  <a href="/home">Назад</a>
</div>

<form action="#" method="post">
    <div>
        <label for="passed">Сдано</label>
        <input type="checkbox" name="passed">
    </div>
    <div>
        <label for="overcoming_difficulties">Как справлялся с трудностями</label>
        <input type="text" name="overcoming_difficulties">
    </div>
    <div>
        <label for="demonstrated_qualities">Продемонстрированные качества</label>
        <input type="text" name="demonstrated_qualities">
    </div>
    <div>
        <label for="work_volume">Объем работы выполнен</label>
        <input type="text" name="work_volume">
    </div>
    <div>
        <label for="reason">Причина непрохождения практики</label>
        <input type="text" name="reason">
    </div>
    <div>
        <label for="remarks">Замечания</label>
        <input type="text" name="remarks">
    </div>
    <button type="submit">Заполнить</button>
</form>
{% endblock %}