{% extends "base.html" %} {% block content %}
  <div>Практики студента</div>
  
  <table>
    <thead>
      <tr>
        <th>Название</th>
      </tr>
    </thead>
    <tbody>
      {% for student_practice in student_practices %}
      <tr>
        {{student_practice.practice.id}}
      </tr>
      <tr>
        <!-- Редактирование практики -->
        <td><a href="/studentPractice/update/{{student_practice.id}}">Редактировать</a></td>
      </tr>
      {% endfor %}    
    </tbody>
  </table>
{% endblock %}
