{% extends "base.html" %} {% block content %}
<form action="">
    <div>
        <label for="place_city">Город</label>
        <input type="text" name="place_city">
    </div>
    <div>
        <label for="place_address">Адрес</label>
        <input type="text" name="place_address">
    </div>
    <div>
        <label for="place_name">Название</label>
        <input type="text" name="place_name">
    </div>
    <div>
        <label for="place_name_short">Сщкращенное название</label>
        <input type="text" name="place_name_short">
    </div>
</form>
{% endblock %}