{% extends "base.html" %} {% block content %}
<form action="">
    <div>
        <label for=""></label>
        <input type="checkbox" name="">
    </div>
    <div>
        <label for="difficulties">Трудности</label>
        <input type="text" name="difficulties">
    </div>
    <div>
        <label for="qualities">Продемонстрированные качества</label>
        <input type="text" name="qualities">
    </div>
    <div>
        <label for="work_volume">Работа выполнена</label>
        <input type="text" name="work_volume">
    </div>
    <div>
        <label for="reason">Причина не прохождения</label>
        <input type="text" name="reason">
    </div>
    <div>
        <label for="remark">Замечания</label>
        <input type="text" name="remark">
    </div>
</form>
{% endblock %}