{% extends "base.html" %}
{% block content %}
<div class="admnin-back">
  <a href="/admin_institute_index"><button type="button">Назад</button></a>
</div>
<form action="#" method="post">
  <div>
    <label for="name">Название</label>
    <input type="text" name="name" required>
  </div>
  <div>
    <label for="specialization_code">Код направления</label>
    <input type="text" name="specialization_code" required>
  </div>
  <div>
    {#Разобраться как вывести имя ОПОП#}
    <select name="director_opop_id" id="">
      {% for opop_director in opop_directors %}
      <option value="{{ opop_director.id }}">{{ opop_director.id }}
      </option>
      {% endfor %}
    </select>
  </div>
  <a><button type="submit">Создать</button></a>
</form>
{% endblock %}