{% extends "base.html" %}
{% block content %}
<div class="admnin-back">
  <a href="/admin">Назад</a>
</div>

<form action="#" method="post">
  <div class="form-name">
    <label for="name">Название</label>
    <input type="text" name="name" required />
  </div>

  <div class="form-spec">
    <label for="specialization_code">Код направления</label>
    <input type="text" name="specialization_code"  required />
  </div>

  <div class="form-opop">
    <label for="name">Имя</label>
    <select name="director_opop_id" id="">
      {% for opop_director in opop_directors %}
      <option value="{{ opop_director.user_id }}">
        {{ opop_director.id }}
      </option>
      {% endfor %}
    </select>
  </div>

  <div class="form-institute">
    <select name="spec-institute" list="institutes">
      {% for institute in institutes %}
      <option value="{{ institute.id }}">{{ institute.name }}</option>
      {% endfor %}
    </select>
  </div>
  <button id="specialisation-create" type="button">Обновить</button>
</form>
{% endblock %}

{% block script %}
  <script src="{{ url_for('static', 'js/admin.spec-create.js') }}"></script>
{% endblock %}