{% extends "base.html" %}
{% block content %}
<div class="ref">
  <div class="back">
    <i class="bi bi-arrow-left fs-5"></i>
    <a href="/admin" class="text-black no-decorate fw-bold fs-5">Назад</a>
  </div>
</div>

<form action="#" method="post" class="edit-form col-sm-5">
  <div class="form-name form__content">
    <label class="text-white fs-6" for="name">Название</label>
    <input class="form-control" type="text" name="name" required />
  </div>

  <div class="form-spec form__content">
    <label class="text-white fs-6" for="specialization_code">Код направления</label>
    <input class="form-control" type="text" name="specialization_code"  required />
  </div>

  <div class="form-opop form__content">
    <label class="text-white fs-6" for="name">Имя директора ОПОП</label>
    <select name="director_opop_id" id="">
      {% for opop_director in opop_directors %}
      <option value="{{ opop_director.user_id }}">
        {{ opop_director.user.lastname }} {{ opop_director.user.firstname }} {{ opop_director.user.surname }}
      </option>
      {% endfor %}
    </select>
  </div>

  <div class="form-institute form__content">
    <label class="text-white fs-6" for="spec-institute">Название института</label>
    <select name="spec-institute" list="institutes">
      {% for institute in institutes %}
      <option value="{{ institute.id }}">{{ institute.name }}</option>
      {% endfor %}
    </select>
  </div>
  <button class="create text-white" id="specialisation-create" type="button">Создать</button>
</form>
{% endblock %}

{% block script %}
  <script src="{{ url_for('static', filename='js/admin.spec-create.js') }}"></script>
{% endblock %}