{% extends "base.html" %}
{% block content %}
<div class="admnin-back">
    <a href="/admin_institute_update">Назад</a>
</div>
<form action="/" method="post">
    <div>
        <label for="name">Название</label>
        <input type="text" name="name" required>
    </div>
    <div>
        <label for="specialization_code">Код направления</label>
        <input type="text" name="specialization_code" required>
    </div>
    <div>
        <label for="name">Имя</label>
        <input type="text" name="director_opop_id" required>
    </div>
    <button type="submit">Обновить</button>
</form>
{% endblock %}