{% extends "base.html" %} {% block content %}

{% if current_user.role == "student" %}
<!-- Часть видимая только студениту -->
<div>Мои практики</div>

<table>
  <thead>
    <tr>
      <th>Название</th>
    </tr>
  </thead>
  <tbody>
    {% for student_practice in student_practices %}
    <tr>
      {{student_practice.practice.id}}
    </tr>
    <tr>
      <!-- Редактирование практики -->
      <td><a href="/studentPractice/update/{{student_practice.id}}">{{student_practice.id}}</a></td>
      <td><a href="/studentPractice/student/upload/{{ student_practice.id }}">Скачать отчет</a></td>
    </tr>
    {% endfor %}    
  </tbody>
</table>

{% else %}
<!-- Часть видимая только руководителю -->
<div>Практики студента</div>
  
<table>
  <thead>
    <tr>
      <th>Название</th>
    </tr>
  </thead>
  <tbody>
    {% for student_practice in student_practices %}
    <tr>
      {{student_practice.id}}
    </tr>
    <tr>
      <!-- Редактирование практики -->
      <td><a href="/studentPractice/update/{{student_practice.id}}">{{student_practice.id}}</a></td>
        <td><a href="/studentPractice/director/upload/{{ current_user.id }}">Скачать отчет</a></td>
    </tr>
    {% endfor %}    
  </tbody>
</table>
{% endif %}
{% endblock %}
