{% extends "base.html" %} {% block content %}

{% if current_user.role == "student" %}
<!-- Часть видимая только студениту -->
<div>Мои практики</div>

<table>
  <thead>
    <tr>
      <th>Название</th>
    </tr>
  </thead>
  <tbody>
    {% for student_practice in student_practices %}
    <tr>
      {{student_practice[0].name}}
    </tr>
    <tr>
      <!-- Редактирование практики -->
      <td><a href="/studentPractice/update/{{student_practice[1].id}}">{{student_practice[0].order}}</a></td>
      <td><a href="/studentPractice/student/upload/{{ student_practice[0].id }}">Скачать отчет</a></td>
    </tr>
    {% endfor %}    
  </tbody>
</table>

{% else %}
<!-- Часть видимая только руководителю -->
<div>Практики студента</div>
  
<div class="row row-cols-2 student-practice justify-content-md-center">
  <div class="row">
    <div>
      <p>Название</p>
    </div>
  </div>
  <div class="row">
    {% for student_practice in student_practices %}
    <div>
      {{student_practice.id}}
    </div>
    <div>
      <!-- Редактирование практики -->
      <td><a href="/studentPractice/update/{{student_practice.id}}">{{student_practice.id}}</a></td>
        <td><a href="/studentPractice/director/upload/{{ current_user.id }}">Скачать отчет</a></td>
    </div>
    {% endfor %}    
  </div>
</div>

<table class="student-practice">
  <thead>
    <tr class="student-practice__name">
      <th>Название</th>
    </tr>
    <tr>

    </tr>
  </thead>
  <tbody>
    {% for student_practice in student_practices %}
    <tr>
      {{student_practice[0].name}}
    </tr>
    <tr class="student-practice__content">
      <!-- Редактирование практики -->
      <td><a href="/studentPractice/update/{{student_practice[1].id}}">{{student_practice[2].lastname}} {{student_practice[2].firstname}} {{student_practice[2].surname}}</a></td>
    </tr>
    {% endfor %}    
  </tbody>
</table>
{% endif %}
{% endblock %}
