<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title>DocWork</title>
    {% endif %}
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="" />
  </head>
  <body>
    <header>
      <div style="display: flex; justify-content: space-between">
        <h2 style="text-align: center">Главная</h2>
        <div style="display: flex; flex-direction: row-reverse">
          <a href="/logout">Выйти</a>

          {#{% for role in roles%} {%if role == "opop"%}#}
          <a href="/opop_index"><button type="button">Go to opop</button></a>
          {#{% elif role == "admin" %}#}
          <a href="/admin_index"><button type="button">Go to admin</button></a>
          {#{% elif role == "supervisorUgrasu" %}#}
          <a href="/supervisorUgrasu_index"
            >Перейти на руководителя практики от югу</a
          >
          {#{% elif role == "supervisorCompany" %}#}
          <a href="/supervisorCompany_index"
            >Перейти на руководителя компании</a
          >
          {#{% elif role == "supervisorPracticeOrg" %}#}
          <a href="/supervisorPracticeOrg_index"
            >Перейти на директора компании</a
          >
          {#{% endif %} {% endfor %}#}
        </div>

      </div>
    </header>

    {% block content %}{% endblock %}

    <script src="" async defer></script>
  </body>
</html>
