<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>DocWork</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="css/style.css">
    <meta name="theme-color" content="#712cf9">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>

    <body>
      <form action="/" method="post">

        <h1 class="h3 mb-3 fw-normal">Пожайлуста войдите</h1>
    
        <div class="form-floating">
          <input type="text" class="form-control" id="login" name="login" placeholder="Login" required> 
          <label for="login">логин</label>
        </div>
        <div class="form-floating">
          <input type="password" class="form-control" name="password" id="password" placeholder="Password" required>
          <label for="password">Пароль</label>
        </div>
        <button type="submit">Войти</button>
        <a href="/admin_user_create">Зарегистрироваться</a>
      </form>
      <script src="" async defer></script>
    </body>
</html>