{% extends "base_login.html" %}
{% block content %}
      <form action="/" method="post" class="form">

        <h1 class="center fw-bold fs-4 text-white">Пожайлуста войдите</h1>
    
        <div class="form__content">
          <label for="login" class="text-white fs-5">Логин</label>
          <input type="text" class="form-control" id="login" name="login" placeholder="Login" required> 
        </div>
        <div class="form__content">
          <label for="password" class="text-white fs-5">Пароль</label>
          <input type="password" class="form-control" name="password" id="password" placeholder="Password" required>
        </div>
        <button class="create text-white fs-5" type="submit">Войти</button>
      </form>
{% endblock %}