<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <header>
            <h3 style="text-align: center;">Админка</h3> 
            <a href="admin.html"><button type="button">На главную</button></a>   
            <hr>
        </header>

        <h4>Создание</h4>



        <form action="#">
        <div class="form-name">
            <input type="text" class="form-name" name="floatingName" placeholder="Иван">
            <label for="floatingName">Имя</label>
          </div>
          <div class="form-surname">
            <input type="text" class="form-surname" name="floatingSurname" placeholder="Иванович">
            <label for="floatingSurname">Фамилия</label>
          </div>
          <div class="form-patronymic">
            <input type="text" class="form-patronymic" name="floatingPatronymic" placeholder="Иванов">
            <label for="floatingPatronymic">Отчество</label>
          </div>
          <div class="form-login">
            <input type="text" class="form-login" name="floatingLogin" placeholder="ИИИ">
            <label for="floatingLogin">Логин</label>
          </div>
          <div class="form-role">
            <input type="text" class="form-role" name="floatingRole" placeholder="Админ">
            <label for="floatingRole">Роль</label>
          </div>
          <div class="form-pass">
            <input type="password" class="form-pass" name="floatingPassword" placeholder="Пароль">
            <label for="floatingPassword">Пароль</label>
          </div>
          <div class="form-two-pass">
            <input type="password" class="form-two-pass" name="floatingTwoPassword" placeholder="Пароль">
            <label for="floating-two-pass">Повторите пароль</label>
          </div>
          <button formaction="" type="submit">Добавить пользователя</button>
        </form>



        <script src="" async defer></script>
    </body>
</html>