{% extends "base.html" %} {% block content %}
  <div class="users list-block">
    <div class="users-head list-head">
      <h3 class="users-head__h3">Пользователи</h3>
      <div class="users-head-tools">
        <button class="users-head-tools__button add">Add</button>
        <button class="users-head-tools__button toggle">&#x2B9F;</button>
      </div>
    </div>
    <ul class="users-list list">
      {% for user in users %}
        <li class="users-list-item" id="user_{{ user.id }}">
          <a href="/admin/user/edit/{{ user.id }}" class="users-list-item__a">
            {{ user.lastname }} {{ user.firstname }}
          </a>
          <span class="users-list-item-tools">
        <button id="{{ user.id }}" class="users-list-tools__button delete">Delete</button>
      </span>
        </li>
      {% endfor %}
    </ul>
  </div>

  <div class="institutes">
    <div class="institutes-head">
      <h3 class="institutes-head__h3">Институты</h3>
      <div class="institutes-head-tools">
        <button class="institutes-head-tools__button add">Add</button>
        <button class="insitutes-head-tools__button toggle">&#x2B9F;</button>
      </div>
    </div>
    <ul class="institutes-list">
      {% for institute in institutes %}
        <li class="institutes-list-item" id="inst_{{ institute.id }}">
          <a href="/admin/institute/edit/{{ institute.id }}" class="institutes-list-item__a">
            {{ institute.name }}
          </a>
          <span class="institutes-list-item-tools">
        <button id="{{ institute.id }}" class="institutes-list-item-tools__button delete">Delete</button>
      </span>

        </li>
      {% endfor %}
    </ul>
  </div>
  <div class="specialisations">
    <div class="specialisations-head list-head">
      <h4 class="specialisations-head__h4">Специализации</h4>
      <div class="specialization-head-tools">
        <button class="specialization-head-tools__button add">Add</button>
        <button class="specialization-head-tools__button toggle">&#x2B9F;</button>
      </div>
    </div>
    <ul class="specializations-list">
      {% for specialization in specializations %}
        <li class="specialization-item">
          <a href="/admin/specialization/edit/{{ specialization.id }}"
             class="specializations-list-item__a edit">{{ specialization.name }}</a>
          <span class="specializations-list-item-tools">
        <button id="{{ specialization.id }}" class="specializations-list-item-tools__a delete">Delete</button>
      </span>
        </li>
      {% endfor %}
    </ul>
  </div>
{% endblock %}
{% block script %}
  <script src="{{ url_for('static', filename='js/admin.index.js') }}"></script>
{% endblock %}
