<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <header>
            <h3 style="text-align: center;">Админка</h3> 
            <a href="/"><button type="button">На главную</button></a>   
            <hr>
        </header>

        <h4>Создание</h4>



        <form action="#"  method="post">
        <div class="form-name">
            <input type="text" class="form-name" name="firstname" placeholder="Иван">
            <label for="firstname">Имя</label>
          </div>
          <div class="form-surname">
            <input type="text" class="form-surname" name="lastname" placeholder="Иванович">
            <label for="lastname">Фамилия</label>
          </div>
          <div class="form-patronymic">
            <input type="text" class="form-patronymic" name="surname" placeholder="Иванов">
            <label for="surname">Отчество</label>
          </div>
          <div class="form-login">
            <input type="text" class="form-login" name="login" placeholder="ИИИ">
            <label for="login">Логин</label>
          </div>
          <div class="form-role">
            <input type="text" class="form-role" name="role" placeholder="Админ">
            <label for="role">Роль</label>
          </div>
          <div class="form-pass">
            <input type="password" class="form-pass" name="password" placeholder="Пароль">
            <label for="password">Пароль</label>
          </div>
          <div class="form-two-pass">
            <input type="password" class="form-two-pass" name="passwordConfirm" placeholder="Пароль">
            <label for="passwordConfirm">Повторите пароль</label>
          </div>
          <button formaction="" type="submit">Добавить пользователя</button>
        </form>



        <script src="" async defer></script>
    </body>
</html>