{% extends "base.html" %} {% block content %}
<div class="admin-back">
    <a id="goBack" href="/studentPractice/{{role}}">Назад</a>
</div>
<div class="tasks">
    <form>
        <div>
            <label>Название</label>
            <input type="text" name="name">
        </div>
        <div>
            <label>Дата</label>
            <input type="date" name="date">
        </div>
    </form>
</div>
<button id="add" type="button">Добавить</button>
<button id="tasks-create" type="button">Создать</button>
{% endblock %}
{% block script %}
<script src="{{ url_for('static', filename='js/tasks-create.js') }}"></script>
{% endblock %}