{% extends "base.html" %} {% block content %}

<div class="ref">
    <div class="back">
        <i class="bi bi-arrow-left fs-5"></i>
        <a id="goBack" class="text-black no-decorate fw-bold fs-5" href="/studentPractice/{{role}}">Назад</a>
    </div>
</div>
<div class="tasks">
    <form class="col-sm-4 edit-form">
        <h1 class="center fw-bold fs-4 text-white">Редактирование задачи</h1>
        <div class="form__content">
            <label class="text-white fs-6">Название</label>
            <input class="form-control" type="text" value="{{ task.name }}" name="name">
        </div>
        <div class="form__content">
            <label class="text-white fs-6">Дата</label>
            <input class="form-control" type="date" value="{{ task.date }}" name="date">
        </div>
        <button class="create text-white" id="tasks-create">Создать</button>
    </form>
</div>
{% endblock %}
{% block script %}
<script src="{{ url_for('static', filename='js/tasks-create.js') }}"></script>
{% endblock %}